@font-face {
    font-family: 'Lato-Regular';
    src: url(./../fonts/Lato-Regular.ttf);
}
@font-face {
    font-family: 'Lato-Bold';
    src: url(./../fonts/Lato-Bold.ttf);
}
@font-face {
    font-family: 'Lato-Light';
    src: url(./../fonts/lato-light.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.fixed-container{
    max-width: 70%;
    margin: 0 auto;
}
.fixed-container1{
    max-width: 66%;
    margin: 0 auto;
}
body{
    color: #1E212C;
    font-family: 'Lato-Regular';
    background-color: #fff;
    min-width: 650px;
}
/*-----Header-----*/
header{
    background-color: #1E212C;
}
.head-image{
    background: url(../img/Service/lines3.png) left bottom / 632px 250px  no-repeat, 
    url(../img/Service/shapes2.png)  1400px 520px / 219px no-repeat, 
    url(../img/Service/Vectorcyc.png)  center right/ 661px 661px no-repeat, 
    url(../img/Service/shapes.png) left 20px / 180px 350px no-repeat, 
    url(../img/Service/lines2.png)  1750px 120px/ 124px 26px no-repeat, 
    url(../img/Service/lines.png)  300px 160px / 87px 18px no-repeat;
    height: 661px;
}
.head-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}
.nav-box{
    display: flex;
    justify-content: space-between;
    width: 55%;
}
a{
    font-family: 'Lato-Bold';
    font-size: 16px;
    color: #ffffffb3;
    text-decoration: none;
}
nav{
    display: flex;
    justify-content: space-between;
    width: 70%;
}
.head-button{
    background-color: #7772F1;
    letter-spacing: 2px;
    width: 199px;
    height: 52px;
    border: none;
    font-size: 14px;
    font-family: 'Lato-Bold';
    color: #fff;
    border-radius: 4px;
}
.head-cent-box{
    display: flex;
    justify-content: center;
}
.head-cent{
    font-family: 'Lato-Light';
    font-size: 14px;
    color: rgba(255, 255, 255, 0.622);
    margin-left: 10px;
    margin-top: 50px;
}
.polcolor{
    opacity: 0.5;
}
h1{
    font-family: 'Lato-Bold';
    font-size: 72px;
    text-align: center;
    color: #fff;
    margin-top: 70px;
}
.head-text{
    font-family: 'Lato-Light';
    font-size: 20px;
    text-align: center;
    color: #ffffffa5;
    width: 43%;
    margin: 0 auto;
    margin-top: 30px;
}
.input-box {
    display: grid;
    justify-content: center;
    margin-top: 40px;
    gap: 8px;
}
.text-input-p {
    color: #fff;
    font-size: 16px;
    font-family: 'Lato-Regular';
}
.on-line {
    display: flex;
    justify-content: center;
}
.input-in {
    background: rgba(255, 255, 255, 0.12);
    border-radius: 4px 0px 0px 4px;
    border: 1px  solid rgba(255, 255, 255, 0.2);
    height: 52px;
    width: 389px;
    padding-left: 16px;
    padding-top: 13px;
    padding-bottom: 13px;
    color: #fff;
    font-size: 16px;
    font-family: 'Lato-Regular';
}
.input-sub {
    width: 221px;
    height: 52px;
    border-radius: 0px 4px 4px 0px;
    color: #ffffff;
    text-align: center;
    font-family: 'Lato-Bold';
    font-size: 16px;
    padding-top: 16px;
    background-color: #7772f1;
}
.head-bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}
.bottom{
 margin-left: 80px;
}
.text-bottom{
    font-family: 'Lato-Regular';
    font-size: 20px;
    text-align: center;
    color: #ffffff;
    margin-left: 20px;
}
hr{
    width: 1px;
    height: 40px;
    border: 1px solid #ffffffb4;
    margin-left: 80px;
}
/*-----Main-box-----*/
.main-box{
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
    padding-bottom: 80px;
}
h1{
    font-size: 47px;
    color: #fff;
    letter-spacing: 2px;
}
span{
    color: #7772F1;
}
.box{
    display: flex;
    align-items: center;
    margin-top: 30px;
}
.main-button{
    background-color: transparent;
    width: 230px;
    height: 52px;
    border: 1px solid #fff;
    font-size: 16px;
    font-family: 'Lato-Bold';
    color: #fff;
    border-radius: 4px; 
}
.play{
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 16px;
    margin-left: 20px;
}
.main-image{
    width: 50%;
}
/*-----We go-----*/
.we-go {
    display: flex;
    justify-content: center;
    gap: 135px;
    margin-bottom: 180px;
}
.zag-we-go {
    color: #1e212c;
    font-family: 'Lato-Bold';
    font-size: 46px;
}
.text-we-go {
    width: 80%;
    margin-top: 40px;
    color: #787a80;
    font-family:'Lato-Regular';
    font-size: 16px;
}
/*-----Seo-box-----*/
.agency-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 120px;
}
.agency-text{
    font-family: 'Lato-Bold';
    font-size: 28px;
    width: 47%;
}
.agency{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 40%;
}
.mini-agency{
    width: 43%;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.mini-agency-text{
    color: #424551;
    font-size: 14px;
    padding-left: 10px;
}
.partner-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 120px;
    padding-bottom: 90px;
}
/*-----services-----*/
h2{
    text-align: center;
    color: #1E212C;
    font-family: 'Lato-Bold';
    font-size: 46px;
}
.service-title-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
}
.service-title{
    font-family: 'Lato-Bold';
    font-size: 16px;
    color: #9A9CA5;
}
.service-title1{
    font-size: 16px;
    color: #7772F1;
    width: 246px;
    height: 46px;
    font-family: 'Lato-Bold';
    border: 1px solid #7772F1;
    background-color: transparent;
}
.service-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.service-name{
    color: #1E212C;
    font-family: 'Lato-Bold';
    font-size: 28px;
    line-height: 1.5;
    padding-bottom: 20px;
}
.service-text{
    color: #424551;
    font-size: 16px;
    padding-bottom: 15px;
    display: flex;
    align-items: center;
}
.mark-icon{
    padding-right: 10px;
}
.service-button{
    background-color: #7772F1;
    width: 165px;
    height: 44px;
    border: none;
    font-size: 16px;
    font-family: 'Lato-Bold';
    color: #fff;
    border-radius: 4px;
    margin-top: 20px;
}
.service-button1{
    background-color: transparent;
    width: 165px;
    height: 44px;
    border: 1px solid #7772F1;
    font-size: 16px;
    font-family: 'Lato-Bold';
    color: #7772F1;
    border-radius: 4px;
}
/*-----card-box-----*/
.title-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.arrow-box{
    display: flex;
    align-items: center;
}
.main-card{
    background-color: #F4F5F6;
    padding-top: 70px;
    padding-bottom: 70px;
    margin-bottom: 90px;
}
.card-box{
    display: flex;
    justify-content: space-between;
}
.card{
    width: 30%;
    background-color: #fff;
    padding: 35px;
}
.card1{
    background: url(../img/Service/background.png) center/ cover no-repeat;
    padding: 35px;
    width: 30%;
    color: #fff;
}
.card-text1{
    font-size: 16px;
    color: #fff;
    line-height: 1.5;
}
.hr-card{
    width: 100%;
    height: 1px;
    background-color: #dadbddb0;
    margin-top: 20px;
    margin-bottom: 20px;
}
.card-text{
    font-size: 16px;
    line-height: 1.5;
    color: #787A80;
}
.card-item{
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}
.item-card{
    display: flex;
}
.item-text-box{
    padding-left: 15px;
}
.item-title{
    font-family: 'Lato-Bold';
    font-size: 20px;
}
.item-text{
    font-size: 12px;
}
.title-box2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.card-button{
    background-color: #7772F1;
    width: 199px;
    height: 45px;
    border: none;
    font-size: 16px;
    font-family: 'Lato-Bold';
    color: #fff;
    border-radius: 4px;
}
.card-subtitle{
    font-family: 'Lato-Bold';
    font-size: 28px;
    padding-right: 35px;
}
/*-----step-----*/
    .zag-step {
        margin-top: 120px;
        color: #1E212C;
        display: flex;
        justify-content: center;
        font-size: 46px;
        line-height: 130%;
        font-family: 'Lato-Bold';
    }
    .img-step {
        width: 810px;
        height: 596px;
        margin: 0 auto;
        margin-top: 60px;
        margin-bottom: 180px;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url(../img/Service/steps.png);
    }
    /*form*/
    .getform {
        width: 100%;
        height: 250px;
        padding: 0 60px;
        padding-top: 48px;
        background-size: cover;
        background-repeat: no-repeat;
        display: grid;
        justify-content: center;
        background-image: url(../img/Service/getform.png);
    }
    .zag-getform {
        text-align: center;
        color: #ffffff;
        font-family: 'Leto-Bold';
        font-weight: 900;
        font-size: 32px;
    }
    .btn-line {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 24px;
        margin-top: 32px;
        margin-bottom: 48px;
    }
    .box-in {
        display: grid;
        gap: 8px;
    }
    .btn-lab {
        color: #FFFFFF;
        font-family: 'Lato-Regular';
        font-size:14px;
        line-height: 150%;
    }
    .btn-box {
        border-radius: 4px;
        border: 1px solid #d7dadd;
        height: 44px;
        width: 260px;
        background: #f4f5f6;
        color:#9a9ca5;
        font-family: 'Lato-Regular';
        font-size:14px;
        line-height: 150%;
        padding-top: 11px;
        padding-left: 16px;
    }
    .urs {
        width: 338px;
    }
    .btn-sub {
        margin-top: 29px;
        width: 178px;
        border-radius: 4px;
        height: 44px;
        text-align: center;
        font-family: 'Lato-Bold';
        color: #ffffff;
        padding-top: 11px;
        font-size:14px;
        padding:11px 15px;
        background-color: #1E212C;
    } 
    /* include */
    .inc-cards {
        margin-bottom: 120px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .inc-card {
        width: 285px;
        height: 188px;
        margin: 94px 40px;
        display: grid;
    }
    .inc-img {
        width: 48px;
        height: 48px;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .inc-zag {
        color:#1E212C;
        font-size: 20px;
        font-weight: 900;
        font-family: 'Lato-Bold';    
    }
    .inc-text {
        color:#787A80;
        font-size: 16px;
        font-family: 'Lato-Regular';    
    }
    .clud1{
        background-image: url(../img/Service/include1.png);
    }
    .clud2{
        background-image: url(../img/Service/include2.png);
    }
    .clud3{
        background-image: url(../img/Service/include3.png);
    }
    .clud4{
        background-image: url(../img/Service/include4.png);
    }
    .clud5{
        background-image: url(../img/Service/include5.png);
    }
    .clud6{
        background-image: url(../img/Service/include6.png);
    }
/*-----pricing-----*/
.button-pricing{
    margin: 0 auto;
    width: 390px;
    display: flex;
    border-radius: 40px;
    border: 1px solid #7772F1;
    height: 46px;
    align-items: center;
    color: #7772F1;
    margin-top: 50px;
    margin-bottom: 50px;
}
.button-pricing1{
    background-color: #7772F1;
    border-radius: 40px;
    width: 50%;
    color: #fff;
    display: flex;
    justify-content: center;
    height: 46px;
    align-items: center;
    margin-right: 30px;
}
.pricing-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 130px;
}
.pricing{
    width: 32%;
    border: 1px solid #7772F1;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}
.choose{
    padding-right: 10px;
}
.pricing1{
    width: 32%;
    border: 1px solid #00F0B5;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    color: #fff;
    padding-bottom: 40px;
    background-color: #1E212C;
}
.pricing-title{
    font-family: 'Lato-Bold';
    font-size: 28px;
}
.pricing-subtitle{
    font-size: 46px;
    font-family: 'Lato-Bold';
    color: #7772F1;
    margin-top: 10px;
    margin-bottom: 10px;
}
.pricing-subtitle1{
    font-size: 46px;
    font-family: 'Lato-Bold';
    color: #00F0B5;
    margin-top: 10px;
    margin-bottom: 10px;
}
sup{
    font-size: 20px;
}
.pricing-hr{
    width: 90%;
    margin: 0 auto;
    height: 1px;
    background-color: #DADBDD;
}
.pricing-list{
    display: flex;
    align-items: center;
    font-size: 16px;
    font-family: 'Lato-Bold';
    padding-top: 10px;
    padding-bottom: 10px;
}
.pricing-list-box{
    padding-top: 20px;
    padding-bottom: 20px;
}
.pricing-list1{
    display: flex;
    align-items: center;
    font-size: 16px;
    font-family: 'Lato-Bold';
    padding-top: 10px;
    padding-bottom: 10px;
    color: #9A9CA5;
}
.price-button{
    border: 1px solid #7772F1;
    background-color: transparent;
    width: 146px;
    height: 44px;
    font-family: 'Lato-Bold';
    color: #7772F1;
    font-size: 14px;
    border-radius: 4px;
}
.price-button1{
    border: 1px solid #7772F1;
    background-color: #7772F1;
    width: 146px;
    height: 44px;
    font-family: 'Lato-Bold';
    color: #fff;
    border-radius: 4px;
    font-size: 14px;
}
/*-----pricing-----*/
.clients-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
    background: url(../img/Service/Vector.png) center center/ 800px 450px no-repeat;
}
.clients{
    width: 80%;
    background-color: #fff;
    padding: 40px 120px;
    box-shadow: 4px 4px 21px 0px rgba(34, 60, 80, 0.2);
}
.client-box{
    display: flex;
    align-items: start;
}
.clients-text{
    padding-left: 20px;
    line-height: 1.5;
    font-size: 20px;
}
.item-card1{
    display: flex;
    align-items: center;
    padding-left: 40px;
    margin-top: 30px;
}
/*----------------footer--------------------*/
footer{
    background-color: #1E212C;
    padding-top: 40px;
    margin-top: 140px;
}
.foot-box{
    display: flex;
    justify-content: space-between;
    color: #ffffff93;
    flex-wrap: wrap;
}
.logo-subtitle{
    font-size: 12px;
    width: 88%;
    line-height: 1.5;
    padding-top: 20px;
    padding-bottom: 30px;
}
.foot1{
    width: 25%;
}
.foot2{
    width: 25%;
}
.icon-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 45%;
}
.foot-title{
    color: #fff;
    font-family: 'Lato-Bold';
    font-size: 16px;
    padding-bottom: 20px;
}
.foot-text{
    font-size: 16px;
    padding-bottom: 10px;
}
.foot-input{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #393C46;
    border: 2px solid #61636B;
    padding: 13px;
    border-radius: 5px;
}
.foot-subtitle{
    color: #fff;
    font-size: 12px;
    padding-top: 13px;
}
.foot-hr{
    width: 100%;
    background-color: #dadbdd3b;
    border: none;
    height: 1px;
    margin-top: 15px;
}
.foot-box2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
.go-text{
    color: #fff;
    font-family: 'Lato-Bold';
    font-size: 16px;
    padding-right: 15px;
}
.go-to-top{
    display: flex;
    align-items: end;
}
.foot-box3{
    background-color: #292C37;
    padding-top: 15px;
    padding-bottom: 15px;
}
.copyright{
    color: #fff;
    font-size: 12px;
}
@media (max-width: 1200px) and (min-width: 767px){
    .fixed-container{
        max-width: 90%;
        margin: 0 auto;
    }
    /*head*/
    .nav-box{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 70%;
    }
    a{
        font-family: 'Lato-Bold';
        font-size: 16px;
        color: #ffffffb3;
        text-decoration: none;
    }
    .main-image{
        width: 50%;
        display: none;
    }
    h1{
        font-size: 67px;
        color: #fff;
        letter-spacing: 2px;
    }
    .head-image{
        background: #1E212C;
        height: 710px;
    }
    /*we go*/
    .we-go{
        flex-wrap: wrap;
        gap: 80px;
    }
    .we-go-text{
        text-align: center;
    }
    .text-we-go{
        margin: 0 auto;
        margin-top: 40px;
    }
    /*step*/
    .img-step {
        width: 500px;
        height: 1065px;
        background-image: url(../img/Service/step.png);
    }
    .getform {
        width: 60%;
        border-radius: 5px;
        height: 500px;
        margin: 0 auto;
        background-image: none;
        background-color: #7772F1;
    }
    .btn-line {
        display: grid;
        justify-content: center;
        gap: 10px;
    }
    .btn-box {
        margin: 0 auto;
        width: 350px;
    }
    .btn-sub {
        margin: 0 auto;
        margin-top: 29px;
    } 
    /*partner-img*/
    .partner-box{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        width: 50%;
        padding-top: 120px;
    }
    /*circles*/
    .circle-box{
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 100px;
    }
    /*service*/
    .service-title1{
        font-size: 16px;
        color: #7772F1;
        width: 180px;
        height: 46px;
        font-family: 'Lato-Bold';
        border: 1px solid #7772F1;
        background-color: transparent;
    }
    .service-img{
        width: 50%;
    }
    .button-box{
        display: flex;
        flex-direction: column;
    }
    .service-button{
        margin-top: 10px;
        width: 265px;
    }
    .service-button1{
        width: 265px;
    }
    /*clients-cards*/
    .card1{
        background: url(../img/Service/background.png) center/ cover no-repeat;
        padding: 35px;
        width: 30%;
        color: #fff;
        display: none;
    }
    .card{
        width: 47%;
        background-color: #fff;
        padding: 35px;
    }
    /*price-lists*/
    .pricing-box{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 130px;
        flex-direction: column;
    }
    .pricing{
        width: 70%;
        border: 1px solid #7772F1;
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 40px;
        padding-bottom: 40px;
        margin-bottom: 30px;
    }
    .pricing1{
        width: 70%;
        border: 1px solid #00F0B5;
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 40px;
        color: #fff;
        padding-bottom: 40px;
        background-color: #1E212C;
        margin-bottom: 30px;
    }
    /*footer*/
    .foot2{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .foot1{
        width: 35%;
    }
    .logo-subtitle{
        font-size: 12px;
        width: 40%;
        line-height: 1.5;
        padding-top: 20px;
        padding-bottom: 30px;
    }
    .icon-box{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 25%;
    }
    .partner-box1{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 75%;
    }
}
.wrapper{
    flex-grow: 1;
}
.open{
    display: flex !important;
}
.burger{
    display: none;
    position: relative;
    z-index: 50;
    align-items: center;
    justify-content: flex-end;
    width: 30px;
    height: 18px;
}
.burger span{
    height: 2px;
    width: 100%;
    transform: scale(1);
    background-color: #7772F1;
}
.burger::before, .burger::after{
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #7772F1;
    transition: all 0.3s ease 0s;
}
.burger::before { 
    top: 0 
}
.burger::after { 
    bottom: 0 
}
.burger.active span { 
    transform: scale(0) 
}

.burger.active::before{
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
}

.burger.active::after{
    bottom: 50%;
    transform: rotate(45deg) translate(0, 50%);
}

@media (max-width: 766px){
    /*------burger-menu----------*/
    .burger { display: flex;
        justify-content: flex-end; 
        margin-left: 30px;
        }
    nav{
        display: none;
        justify-content: start;
        flex-direction: column;
        position: fixed;
        height: 100%;
        width: 100%;
        top: 0; bottom: 0; left: 0; right: 0;
        z-index: 50;
        overflow-y: auto;
        padding: 50px 40px;
        background-color: #292C37;
        animation: burgerAnimation 0.4s;
    }
    nav a{
        flex-direction: column;
        padding-bottom: 30px;
    }
    .fixed-container{
        max-width: 90%;
        margin: 0 auto;
    }
    /*head*/
    .nav-box{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 70%;
    }
    a{
        font-family: 'Lato-Bold';
        font-size: 19px;
        color: #ffffffb3;
        text-decoration: none;
    }
    .main-image{
        width: 50%;
        display: none;
    }
    h1{
        font-size: 67px;
        color: #fff;
        letter-spacing: 2px;
    }
    .head-image{
        background: #1E212C;
        height: 800px;
    }
    .on-line {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .input-in {
        width: 100%;
        padding-right: 100px;
    }
    .input-sub {
        width: 100%;
    }
    .seo-text{
        font-family: 'Lato-Bold';
        font-size: 15px;
        color: #fff;
        padding-left: 15px;
    }
    /*we go*/
    .box-bg-lin{
        width: 100%;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url(../img/Service/01Background.png);
    }
    .we-goimg {
        width: 500px;
        height: 397px;
    }
    .we-go{
        flex-wrap: wrap;
        gap: 80px;
    }
    .we-go-text{
        text-align: center;
    }
    .text-we-go{
        margin: 0 auto;
        margin-top: 40px;
    }
    /*step*/
    .img-step {
        width: 405px;
        height: 862px;
        background-image: url(../img/Service/step.png);
    }
    .getform {
        display: none;
    }
    /*partner-img*/
    .partner-box{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        width: 70%;
        padding-top: 120px;
    }
    /*circles*/
    .circle-box{
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 100px;
    }
    .circle-img{
        width: 80%;
        margin: 0 auto;
    }
    /*service*/
    .service-title-box{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 40px;
        margin-bottom: 40px;
        flex-wrap: wrap;
    }
    .service-title1{
        font-size: 16px;
        color: #7772F1;
        width: 180px;
        height: 46px;
        font-family: 'Lato-Bold';
        border: 1px solid #7772F1;
        background-color: transparent;
    }
    .service-box{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }
    .service-img{
        width: 80%;
        margin-top: 40px;
    }
    /*clients-cards*/
    .card1{
        background: url(../img/Service/background.png) center/ cover no-repeat;
        padding: 35px;
        width: 30%;
        color: #fff;
        display: none;
    }
    .card{
        width: 49%;
        background-color: #fff;
        padding: 10px;
    }
    .card-item{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 40px;
    }
    .item-card{
        display: flex;
        align-items: center;
    }
    /*price-lists*/
    .pricing-box{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 130px;
        flex-direction: column;
    }
    .pricing{
        width: 80%;
        border: 1px solid #7772F1;
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 40px;
        padding-bottom: 40px;
        margin-bottom: 30px;
    }
    .pricing1{
        width: 80%;
        border: 1px solid #00F0B5;
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 40px;
        color: #fff;
        padding-bottom: 40px;
        background-color: #1E212C;
        margin-bottom: 30px;
    }
    /*footer*/
    .foot2{
        width: 100%;
        display: flex;
        align-items: self-start;
        justify-content: space-between;
    }
    .foot1{
        width: 35%;
    }
    .logo-subtitle{
        font-size: 12px;
        width: 40%;
        line-height: 1.5;
        padding-top: 1px;
        padding-bottom: 30px;
    }
    .icon-box{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 25%;
    }
    .partner-box1{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        width: 50%;
    }
    .foot-partner{
        margin-bottom: 20px;
    }
}
@keyframes burgerAnimation {
    from {opacity: 0}
    to {opacity: 1}
}