@font-face {
    font-family: 'Lato-Regular';
    src: url(./../fonts/Lato-Regular.ttf);
}
@font-face {
    font-family: 'Lato-Bold';
    src: url(./../fonts/Lato-Bold.ttf);
}
@font-face {
    font-family: 'Lato-Light';
    src: url(./../fonts/lato-light.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.fixed-container{
    max-width: 70%;
    margin: 0 auto;
}
body{
    color: #1E212C;
    font-family: 'Lato-Regular';
    background-color: #fff;
}
/*-----Header-----*/
header{
    background-color: #1E212C;
}
.head-image{
    background: url(../img/Services/background.png) no-repeat;
    height: 653px;
}
.head-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}
.nav-box{
    display: flex;
    justify-content: space-between;
    width: 55%;
}
a{
    font-family: 'Lato-Bold';
    font-size: 16px;
    color: #ffffffb3;
    text-decoration: none;
}
nav{
    display: flex;
    justify-content: space-between;
    width: 70%;
}
.head-button{
    background-color: #7772F1;
    letter-spacing: 2px;
    width: 199px;
    height: 52px;
    border: none;
    font-size: 14px;
    font-family: 'Lato-Bold';
    color: #fff;
    border-radius: 4px;
}
/*-----Main-box-----*/
.main-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.main-home{
    display: flex;
    gap: 8px;
    margin-top: 80px;
}
.home{
    font-size: 14px;
    color: #fff;
    font-family: 'Lato-Light';
    opacity: 0.6;
}
.main-title{
    font-size: 72px;
    color: #fff;
    font-family: 'Lato-Bold';
    margin-top: 40px;
}
.main-text{
    font-size: 20px;
    margin-top: 24px;
    text-align: center;
    color: #fff;
    font-family: 'Lato-Regular';
    opacity: 0.6;
    width: 64%;
    line-height: 150%;
}
.main-btn{
    margin-top: 60px;
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
}
.main-button{
    border: 1px solid #fff;
    border-radius: 4px;
    padding: 0px 40px;
    width: 154px;
    height: 52px;
    background-color: transparent;
    color: #fff;
    font-size: 16px;
    font-family: 'Lato-Bold';
}
.main-phone{
    display: flex;
    gap: 12px;
}
.call{
    color: #fff;
    font-size: 14px;
    opacity: 0.6;
    font-family: 'Lato-Regular';
}
.nomder{
    font-size: 18px;
    color: #fff;
}
/* Services */
.fixed-container1{
    max-width: 75%;
    margin: 0 auto;
}
.services-box{
    display: flex;
    flex-direction: column;
}
.service{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 45px;
}
.service-title{
    font-size: 32px;
    color: #1e212c;
    font-family: 'Lato-Bold';
}
.service-text{
    font-size: 16px;
    color: #787a80;
    font-family: 'Lato-Regular';
    margin-top: 24px;
    line-height: 160%;
}
.service-button{
    margin-top: 50px;
    display: flex;
    gap: 24px;
}
.service-btn1{
    border: 1px solid #7772f1;
    background-color: transparent;
    border-radius: 4px;
    width: 139px;
    height: 44px;
    font-size: 14px;
    text-align: center;
    color: #7772f1;
}
.service-btn2{
    border: 1px solid #7772f1;
    background-color: #7772f1;
    border-radius: 4px;
    width: 139px;
    height: 44px;
    font-size: 14px;
    text-align: center;
    color: #fff;
}
/*-----form-----*/

.form-block{
    background-color: #1E212C;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 50px;
}
.form-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
form{
    width: 50%;
}
.form-title{
    font-family: 'Lato-Bold';
    color: #fff;
    font-size: 46px;
    margin-bottom: 30px;
}
label{
    color: #fff;
    font-size: 16px;
    display: flex;
    padding-bottom: 10px;
}
.input-box{
    display: flex;
    justify-content: space-between;
}
.input-width{
    width: 45%;
}
.input{
    color: #fff;
    font-size: 16px;
    background-color: #393C46;
    border: 1px solid #595B63;
    height: 52px;
    width: 100%;
    border-radius: 4px;
    margin-bottom: 15px;
    padding-left: 15px;
}
.main-input{
    color: #fff;
    font-size: 16px;
    background-color: #393C46;
    border: 1px solid #595B63;
    width: 100%;
    padding-left: 15px;
    border-radius: 4px;
    height: 52px;
}
.submit-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 28px;
}
.form-button{
    background-color: #7772F1;
    width: 199px;
    height: 52px;
    border: none;
    font-size: 16px;
    font-family: 'Lato-Bold';
    color: #fff;
    border-radius: 4px;
}
h3{
    font-family: 'Lato-Bold';
    font-size: 46px;
    margin-bottom: 35px;
}
.question-text{
    font-family: 'Lato-Bold';
    font-size: 20px;
    color: #1E212C;
    display: flex;
    align-items: center;
    padding-bottom: 20px;
}
.service-subtitle{
    font-size: 16px;
    padding-left: 28px;
    color: #787A80;
    padding-bottom: 20px;
}
.question-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
}
/* markets */
.markets-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 180px;
}
.markets-title{
    font-family: 'Lato-Bold';
    font-size: 46px;
    color: #1e212c;
}
.markets-block{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 60px;
    gap: 40px;
    margin-bottom: 120px;
}
.line{
    width: 1px;
    height: 163px;
    background: rgb(218,219,221);
    background: linear-gradient(0deg, rgba(218,219,221,0) 0%, rgba(218,219,221,0.5) 25%, rgba(218,219,221,1) 50%, rgba(218,219,221,0.5) 75%, rgba(218,219,221,0) 100%);
}
.market{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.market-title{
    margin-top: 24px;
    font-size: 20px;
    font-family: 'Lato-Bold';
    color: #1e212c;
}
.market-text{
    font-size: 16px;
    font-family: 'Lato-Regular';
    color: #787a80;
    line-height: 160%;
    margin-top: 8px;
}
/*-----card-box-----*/
.title-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.arrow-box{
    display: flex;
    align-items: center;
}
.main-card{
    background-color: #F4F5F6;
    padding-top: 70px;
    padding-bottom: 70px;
    margin-bottom: 90px;
}
.card-box{
    display: flex;
    justify-content: space-between;
}
.card{
    width: 30%;
    background-color: #fff;
    padding: 35px;
}
.card1{
    background: url(../img/Homepage/background.png) center/ cover no-repeat;
    padding: 35px;
    width: 30%;
    color: #fff;
}
.card-text1{
    font-size: 16px;
    color: #fff;
    line-height: 1.5;
}
.hr-card{
    width: 100%;
    height: 1px;
    background-color: #dadbddb0;
    margin-top: 20px;
    margin-bottom: 20px;
}
.card-text{
    font-size: 16px;
    line-height: 1.5;
    color: #787A80;
}
.card-item{
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}
.item-card{
    display: flex;
}
.item-text-box{
    padding-left: 15px;
}
.item-title{
    font-family: 'Lato-Bold';
    font-size: 20px;
}
.item-text{
    font-size: 12px;
}
.title-box2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.card-button{
    background-color: #7772F1;
    width: 199px;
    height: 45px;
    border: none;
    font-size: 16px;
    font-family: 'Lato-Bold';
    color: #fff;
    border-radius: 4px;
}
.card-subtitle{
    font-family: 'Lato-Bold';
    font-size: 28px;
    padding-right: 35px;
}
.partner-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
/*-----News-----*/
.news-box{
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-top: 170px;
}
.news{
    width: 32%;
}
.news1{
    width: 32%;
}
.news-title{
    font-family: 'Lato-Bold';
    font-size: 46px;
    padding-bottom: 30px;
}
.news-text{
    color: #424551;
    font-size: 20px;
    width: 65%;
    padding-bottom: 40px;
    line-height: 1.5;
}
.news-button{
    border: 1px solid #7772F1;
    background-color: #7772F1;
    width: 146px;
    height: 44px;
    font-family: 'Lato-Bold';
    color: #fff;
    border-radius: 4px;
    font-size: 14px;
}
.new-author{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #787A80;
    width: 70%;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.news-img{
    width: 100%;
}
.new-title{
    font-family: 'Lato-Bold';
    font-size: 23px;
    line-height: 1.5;
}
.new-text{
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 1.5;
}
.read-text{
    font-family: 'Lato-Bold';
    font-size: 16px;
}
.arrow-news{
    padding-left: 10px;
}
/*----------------footer--------------------*/
footer{
    background-color: #1E212C;
    padding-top: 40px;
    margin-top: 140px;
}
.foot-box{
    display: flex;
    justify-content: space-between;
    color: #ffffff93;
    flex-wrap: wrap;
}
.logo-subtitle{
    font-size: 12px;
    width: 88%;
    line-height: 1.5;
    padding-top: 20px;
    padding-bottom: 30px;
}
.foot1{
    width: 25%;
}
.foot2{
    width: 25%;
}
.icon-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 45%;
}
.foot-title{
    color: #fff;
    font-family: 'Lato-Bold';
    font-size: 16px;
    padding-bottom: 20px;
}
.foot-text{
    font-size: 16px;
    padding-bottom: 10px;
}
.foot-input{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #393C46;
    border: 2px solid #61636B;
    padding: 13px;
    border-radius: 5px;
}
.foot-subtitle{
    color: #fff;
    font-size: 12px;
    padding-top: 13px;
}
.foot-hr{
    width: 100%;
    background-color: #dadbdd3b;
    border: none;
    height: 1px;
    margin-top: 15px;
}
.foot-box2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
.go-text{
    color: #fff;
    font-family: 'Lato-Bold';
    font-size: 16px;
    padding-right: 15px;
}
.go_to_top{
    display: flex;
    align-items: end;
}
.foot-box3{
    background-color: #292C37;
    padding-top: 15px;
    padding-bottom: 15px;
}
.copyright{
    color: #fff;
    font-size: 12px;
}

@media (max-width: 1200px) and (min-width: 767px){
    .fixed-container{
        max-width: 90%;
        margin: 0 auto;
    }
    .fixed-container1{
        max-width: 90%;
        margin: 0 auto;
    }
    /*head*/
    .nav-box{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 70%;
    }
    a{
        font-family: 'Lato-Bold';
        font-size: 16px;
        color: #ffffffb3;
        text-decoration: none;
    }
    /* service */
    .services-box{
        margin-top: 50px;
    }
    .service-right img{
        width: 520px;
        height: 420px;
    }
    .service-left img{
        width: 520px;
        height: 420px;
    }
    /*form*/
    .form-img{
        display: none;
    }
    form{
        width: 80%;
        margin: 0 auto;
    }
    /* markets-box */
    .markets-box{
        margin-top: 100px;
    }
    /*clients-cards*/
    .card1{
        background: url(../img/Homepage/background.png) center/ cover no-repeat;
        padding: 35px;
        width: 30%;
        color: #fff;
        display: none;
    }
    .card{
        width: 47%;
        background-color: #fff;
        padding: 35px;
    }
    /*partner-img*/
    .partner-box{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        width: 50%;
        padding-top: 120px;
    }
    /*news*/
    .news-box{
        display: flex;
        justify-content: space-between;
        align-items: start;
        flex-wrap: wrap;
    }
    .news1{
        display: flex;
        width: 100%;
    }
    .news{
        width: 45%;
    }
    .new-author{
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #787A80;
        width: 90%;
        font-size: 14px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    /*footer*/
    .foot2{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .foot1{
        width: 35%;
    }
    .logo-subtitle{
        font-size: 12px;
        width: 40%;
        line-height: 1.5;
        padding-top: 20px;
        padding-bottom: 30px;
    }
    .icon-box{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 25%;
    }
    .partner-box1{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 75%;
    }
}
.wrapper{
    flex-grow: 1;
}
.open{
    display: flex !important;
}
.burger{
    display: none;
    position: relative;
    z-index: 50;
    align-items: center;
    justify-content: flex-end;
    width: 30px;
    height: 18px;
}
.burger span{
    height: 2px;
    width: 100%;
    transform: scale(1);
    background-color: #7772F1;
}
.burger::before, .burger::after{
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #7772F1;
    transition: all 0.3s ease 0s;
}
.burger::before { 
    top: 0 
}
.burger::after { 
    bottom: 0 
}
.burger.active span { 
    transform: scale(0) 
}

.burger.active::before{
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
}

.burger.active::after{
    bottom: 50%;
    transform: rotate(45deg) translate(0, 50%);
}

@media (max-width: 766px) and (min-width: 320px){
    /*------burger-menu----------*/
    .burger { display: flex;
        justify-content: flex-end; 
        margin-left: 30px;
        }
    nav{
        display: none;
        justify-content: start;
        flex-direction: column;
        position: fixed;
        height: 100%;
        width: 100%;
        top: 0; bottom: 0; left: 0; right: 0;
        z-index: 50;
        overflow-y: auto;
        padding: 50px 40px;
        background-color: #292C37;
        animation: burgerAnimation 0.4s;
    }
    nav a{
        flex-direction: column;
        padding-bottom: 30px;
    }
    .fixed-container{
        max-width: 90%;
        margin: 0 auto;
    }
    /*head*/
    .nav-box{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 70%;
    }
    a{
        font-family: 'Lato-Bold';
        font-size: 19px;
        color: #ffffffb3;
        text-decoration: none;
    }
    /* main */
    .main-title{
        font-size: 52px;
    }
    .main-text{
        font-size: 16px;
        width: 85%;
    }
    /* service */
    .service-title{
        font-size: 22px;
    }
    .services-box{
        gap: 50px;
    }
    .service{
        gap: 0px;
        
    }
    .service-text{
        font-size: 14px;
    }
    .services-box{
        margin-top: 50px;
    }
    .service-right img{
        display: none;
    }
    .service-left img{
        display: none;
    }
    .service-btn1{
        width: 100px;
        height: 32px;
    }
    .service-btn2{
        width: 100px;
        height: 32px;
    }
    /*partner-img*/
    .partner-box{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        width: 70%;
        padding-top: 120px;
    }
    /*form*/
    .form-img{
        display: none;
    }
    form{
        width: 90%;
        margin: 0 auto;
    }
    /* markets */
    .markets-title{
        font-size: 36px;
        margin-top: 50px;
    }
    .markets-block{
        gap: 15px;
    }
    .line{
        display: none;
    }
    .market-title{
        font-size: 17px;
    }
    .market-text{
        font-size: 14px;
    }
    /*clients-cards*/

    .card1{
        background: url(../img/Homepage/background.png) center/ cover no-repeat;
        padding: 35px;
        width: 30%;
        color: #fff;
        display: none;
    }
    .card{
        width: 49%;
        background-color: #fff;
        padding: 10px;
    }
    .card-item{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 40px;
    }
    .item-card{
        display: flex;
        align-items: center;
    }
    /*news*/
    .news-box{
        display: flex;
        justify-content: space-between;
        align-items: start;
        flex-wrap: wrap;
    }
    .news1{
        display: flex;
        width: 100%;
    }
    .news{
        width: 45%;
    }
    .new-author{
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #787A80;
        width: 100%;
        font-size: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    /*footer*/
    .foot2{
        width: 100%;
        display: flex;
        align-items: self-start;
        justify-content: space-between;
    }
    .foot1{
        width: 35%;
    }
    .logo-subtitle{
        font-size: 12px;
        width: 40%;
        line-height: 1.5;
        padding-top: 1px;
        padding-bottom: 30px;
    }
    .icon-box{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 25%;
    }
    .partner-box1{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        width: 50%;
    }
    .foot-partner{
        margin-bottom: 20px;
    }
}